/* Styling for the button */
#focus-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 7px 2px;
    cursor: pointer;
    border-radius: 3px
  }